

  
  .tag-list {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
  }
  
  .loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }
  
  .tag {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #2D38A6;
    height:2.5vw;
    width: 6.5vw;
    align-items: center;
    justify-content: center;
    border: solid 3px black;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 0.5rem; // Must used margin-right instead of gap for the loop to be smooth
    box-shadow: 0 0.1rem 0.1rem rgba(128, 32, 32, 0.2), 0 0.1rem 0.1rem rgba(72, 20, 20, 0.3),
      0 0.2rem 0.5rem rgba(95, 35, 35, 0.4);
  
    span {
      font-size: 1.4rem;
      color: black;
    }
  }
  
.fade {
    pointer-events: none;
    background: linear-gradient(
      90deg,
      #1e293b,
      transparent 30%,
      transparent 70%,
      #1e293b
    );
  
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-8%);
    }
  }
  